.slide1 {

    height: 100%;

    &__back-background {

        height: 100%;
    }

    &__front-background {

        height: 100%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .slide1 {

        height: auto;

        &__back-background {

            min-height: calc(100vh - 70px);
            background-image: url('../../imgs/front-background.svg');
            background-repeat: no-repeat;
            background-position: 50% -100px;
            background-size: 1280px auto;
        }

        &__front-background {

            background-image: url('../../imgs/fon-parts.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% auto;
        }

        &__wrapper {

            padding-left: 10px;
            padding-right: 10px;
            padding-top: 50px;
        }

        &__wrapper-imgs {

            display: flex;
            justify-content: center;
        }

        &__wrapper-img {

            flex-basis: 50%;

            img {

                width: 100%;
            }
        }

        &__wrapper-title {

            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 15px;
            text-align: center;
        }

        &__wrapper-text {

            font-size: 20px;
            line-height: 25px;
            color: #432F21;
            margin-bottom: 15px;
        }

        &__wrapper-btn {
        
            text-align: center;
        }

        &__share {

            margin-top: 45px;
        }

        &__share-text {

            font-size: 20px;
            line-height: 25px;
            margin-bottom: 5px;
            text-align: center;
        }

        &__share-btns {

            text-align: center;
        }

        &__share-btn {

            margin-right: 15px;

            &:last-child {

                margin-right: 0;
            }
        }
    }
}

@media (min-width: 768px) {

    .slide1 {

        &__back-background {

            background-image: url('../../imgs/back-background.svg');
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: 1450px auto;
        }

        &__front-background {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-image: url('../../imgs/front-background.svg');
            background-repeat: no-repeat;
            background-position: 50% -100px;
            background-size: 1280px auto;
        }
    
        &__wrapper {

            width: 100%;
            height: 585px;
            display: flex;
            flex-direction: column;
            margin-top: 105px;
        }

        &__wrapper-imgs {

            height: 245px;
            display: flex;
            justify-content: center;
        }

        &__wrapper-img {

            height: 245px;
            overflow: hidden;

            img {

                display: block;
                position: relative;
            }

            &:nth-child(1) {

                img {

                    max-width: 424px;
                    top: -10px;
                }
            }

            &:nth-child(2) {

                img {

                    max-width: 295px;
                    top: -50px;
                }
            }
        }

        &__wrapper-title {

            font-weight: 700;
            font-size: 60px;
            line-height: 65px;
            text-align: center;
            margin-bottom: 25px;
        }

        &__wrapper-text {

            width: 725px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
            font-size: 20px;
            line-height: 25px;
            color: #432F21;
        }

        &__wrapper-btn {

            text-align: center;
        }

        &__share {

            margin-top: auto;
        }

        &__share-text {

            font-size: 20px;
            line-height: 25px;
            margin-bottom: 4px;
            color: #432F21;
        }

        &__share-btns {

            display: flex;
            padding-bottom: 14px;
            justify-content: center;
        }

        &__share-btn {

            margin-right: 17px;

            &:last-child {

                margin-right: 0;
            }
        }
    }
}

@media (min-width: 1024px) {

    .slide1 {
    
        &__wrapper {

            width: 787px;
        }
    }
}