.next-slide-btn {

    border: 0;
    font-size: 20px;
    height: 64px;
    line-height: 64px;
    color: #F6F2F1;
    background: #F0AA87;
    border-radius: 60px;
    padding: 0 50px;
    cursor: pointer;
}