.slides {

    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

@media (min-width: 320px) and (max-width: 767px) {

    .slides {

        position: static;
        height: auto;
    }
}