@font-face {
	font-family: "Geometria";
	src: url("./fonts/Geometria.eot");
	src: url("./fonts/Geometria.eot?#iefix") format("embedded-opentype"),
		 url("./fonts/Geometria.woff") format("woff"),
		 url("./fonts/Geometria.ttf") format("truetype"),
		 url("./fonts/Geometria.svg#Geometria") format("svg");
	font-weight: normal;
	font-style: normal;
}

* {

    box-sizing: border-box;
}

html, body {

    padding: 0;
    margin: 0;
    font-family: 'Geometria';
}

.section {

    max-width: 1440px;
    margin: 0 auto;
}

.share-btn {

	display: inline-block;
	width: 63px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100% auto;

	&_inst {

		background-image: url('./imgs/slide1__share-btn-inst.svg');
	}

	&_vk {

		background-image: url('./imgs/slide1__share-btn-vk.svg');
	}

	&_fb {

		background-image: url('./imgs/slide1__share-btn-fb.svg');
	}
}